{% extends 'flatpages/default.html' %}
{% block content %}
<br><br><br> <!-- Add empty space (adjust as needed) -->
<!DOCTYPE html> <!-- Duplicate the code below if you want to duplicate the content on the page! -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Page</title>
  <style>
    body {
      font-family: 'Tahoma', sans-serif;
    }

    .admin-info {
      margin-top: 20px;
    }
  </style>
</head>
<body>

  <h1>Welcome, Admin!</h1>

  <p class="admin-info">This admin page provides access to important site management tools and information. Here, you can review and manage user accounts, monitor site analytics and statistics, update site content and announcements, and access security and maintenance features.</p>

  <p class="admin-info">Ensure to keep your login credentials secure and handle administrative tasks responsibly.</p>

</body>
</html>
<br><br><br> <!-- Add more empty space if needed -->
{% endblock content %}
