{% extends 'flatpages/default.html' %}
{% block content %}
<br><br><br> <!-- Add empty space (adjust as needed) -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <style>
    body {
      font-family: 'Tahoma', sans-serif;
    }

    .welcome-text {
      margin-top: 20px;
    }
  </style>
</head>
<body>

  <h1>Welcome to the Department of Basic Education Fan Page</h1>

  <p class="welcome-text">Welcome to the official fan website of the Department of Basic Education in the Republic of South Africa! This platform is dedicated to celebrating the department's crucial role in shaping the nation's future through education. Join us as we highlight initiatives, policies, and inspiring stories that enhance the quality of education across the country. From innovative teaching methods to student achievements, we showcase the positive strides in education. Engage in discussions, stay informed about developments, and celebrate the dedication of educators working towards a brighter future. Together, let's champion the cause of education and contribute to building a knowledge-driven and empowered South Africa.</p>

</body>
</html>
<br><br><br> <!-- Add more empty space if needed -->
<iframe width="560" height="315" src="https://www.youtube.com/embed/NjMH4Kp_fFI?si=3fCqf9ZMPgm7UYQC" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
{% endblock content %}
